<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Couchcoding.Logbert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Couchcoding.Logbert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="FILE HEADER&#xD;&#xA;"
 />
        <footer value="FILE FOOTER&#xD;&#xA;"
 />
        <conversionPattern value="%date [%thread] %-5level %logger (%property{log4net:HostName}) [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.runtime.remoting>
    <application name="Log4netRemotingServer">
      <!-- We need to define the remoting channels on which we will publish
           the remote logging sink. -->
      <channels>
        <channel displayName="Server Channel" ref="tcp server" port="7070"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <Couchcoding.Logbert.Properties.Settings>
      <setting name="BackgroundColorTrace" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BackgroundColorDebug" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="BackgroundColorInfo" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="BackgroundColorWarning" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="BackgroundColorError" serializeAs="String">
        <value>LightCoral</value>
      </setting>
      <setting name="BackgroundColorFatal" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ForegroundColorTrace" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ForegroundColorDebug" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ForegroundColorInfo" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ForegroundColorWarning" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ForegroundColorError" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ForegroundColorFatal" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="TimestampFormat" serializeAs="String">
        <value>HH:mm:ss.fff</value>
      </setting>
      <setting name="UiRefreshIntervalMs" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="LogMessagesFontName" serializeAs="String">
        <value>Microsoft Sans Serif</value>
      </setting>
      <setting name="LogMessagesFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="FrmFindSearchMatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrmFindSearchMatchWholeWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrmFindSearchUseRegex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrmFindSearchUseWildcard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrmMainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FrmMainFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="FrmMainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FontStyleTrace" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FontStyleDebug" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FontStyleInfo" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FontStyleWarning" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FontStyleError" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FontStyleFatal" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="PnlSyslogSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlSyslogSettingsMulticastAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlLog4NetUdpSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlLog4NetFileSettingsFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlLog4NetUdpSettingsPort" serializeAs="String">
        <value>7071</value>
      </setting>
      <setting name="PnlLog4NetFileSettingsStartFromBeginning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PnlSyslogSettingsJoinMulticast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PnlSyslogSettingsPort" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="PnlSyslogFileSettingsFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlSyslogFileSettingsStartFromBeginning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogWndAutoScrollOnLastMessageSelect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrmMainAllowOnlyOneInstance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PnlEventLogSettingsLogName" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlEventLogSettingsMachineName" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="PnlEventLogSettingsSourceName" serializeAs="String">
        <value />
      </setting>
      <setting name="ScriptEditorFontName" serializeAs="String">
        <value>Microsoft Sans Serif</value>
      </setting>
      <setting name="ScriptEditorFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ScriptEditorTabSize" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ScriptEditorUseSpacesForTabs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptEditorWordWrap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptEditorHighlightCurrentLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeElement_DefaultText_ForegroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="CodeElement_DefaultText_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_DefaultText_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_Comment_ForegroundColor" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="CodeElement_Comment_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Comment_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_Number_ForegroundColor" serializeAs="String">
        <value>Olive</value>
      </setting>
      <setting name="CodeElement_Number_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Number_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_Keyword_ForegroundColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="CodeElement_Keyword_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Keyword_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_LuaFunction_ForegroundColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="CodeElement_LuaFunction_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_LuaFunction_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_LogbertFunction_ForegroundColor" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="CodeElement_LogbertFunction_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_LogbertFunction_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_String_ForegroundColor" serializeAs="String">
        <value>163, 21, 21</value>
      </setting>
      <setting name="CodeElement_String_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_String_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_Operator_ForegroundColor" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="CodeElement_Operator_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Operator_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="CodeElement_Bracket_ForegroundColor" serializeAs="String">
        <value>BlueViolet</value>
      </setting>
      <setting name="CodeElement_Bracket_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Bracket_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="PnlNLogTcpSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogTcpSettingsPort" serializeAs="String">
        <value>7072</value>
      </setting>
      <setting name="PnlNLogUdpSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogUdpSettingsPort" serializeAs="String">
        <value>7071</value>
      </setting>
      <setting name="PnlNLogFileSettingsFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogFileSettingsStartFromBeginning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PnlCustomFileSettingsFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomFileSettingsStartFromBeginning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PnlCustomFileSettingsColumnizer" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxLogMessages" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="DockLayoutCustomReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutEventlogReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutLog4NetFileReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutLog4NetUdpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutNLogFileReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutNLogTcpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutNLogUdpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutSyslogFileReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutSyslogUdpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableColorMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorMapAnnotation" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="FrmLogStatisticShowLegend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PnlLog4NetDirectorySettingsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlLog4NetDirectorySettingsPattern" serializeAs="String">
        <value>.*\.log[\.]?[\d]?</value>
      </setting>
      <setting name="PnlLog4NetDirectorySettingsReadAllExisting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DockLayoutLog4NetDirReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutNLogDirReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogDirectorySettingsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogDirectorySettingsPattern" serializeAs="String">
        <value>.*\.log[\.]?[\d]?</value>
      </setting>
      <setting name="PnlNLogDirectorySettingsReadAllExisting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogWindowDrawGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrmMainCheckForUpdateOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DockLayoutWinDebugReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnVisibleLog4NetDirReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthLog4NetDirReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleLog4NetUdpReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnVisibleLog4NetFileReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthLog4NetUdpReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnWidthLog4NetFileReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleNLogDirReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnVisibleNLogFileReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnVisibleNLogTcpReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnVisibleNLogUdpReceiver" serializeAs="String">
        <value>1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthNLogDirReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnWidthNLogFileReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnWidthNLogTcpReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnWidthNLogUdpReceiver" serializeAs="String">
        <value>100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleEventlogReceiver" serializeAs="String">
        <value>1,1,1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthEventlogReceiver" serializeAs="String">
        <value>100,100,100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleSyslogFileReceiver" serializeAs="String">
        <value>1,1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthSyslogFileReceiver" serializeAs="String">
        <value>100,100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleSyslogUdpReceiver" serializeAs="String">
        <value>1,1,1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthSyslogUdpReceiver" serializeAs="String">
        <value>100,100,100,100,100,100,1024</value>
      </setting>
      <setting name="ColumnVisibleWinDebugReceiver" serializeAs="String">
        <value>1,1,1,1,1</value>
      </setting>
      <setting name="ColumnWidthWinDebugReceiver" serializeAs="String">
        <value>100,100,100,100,1024</value>
      </setting>
      <setting name="WaitCursorTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PnlCustomUdpSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomUdpSettingsPort" serializeAs="String">
        <value>7071</value>
      </setting>
      <setting name="DockLayoutCustomUdpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomUdpSettingsMulticastAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomUdpSettingsJoinMulticast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PnlLog4NetUdpSettingsJoinMulticast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PnlLog4NetUdpSettingsMulticastAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlNLogUdpSettingsJoinMulticast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PnlNLogUdpSettingsMulticastAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="DockLayoutCustomDirReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomDirectorySettingsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomDirectorySettingsPattern" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomDirectorySettingsReadAllExisting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DockLayoutCustomTcpReceiver" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomTcpSettingsInterface" serializeAs="String">
        <value />
      </setting>
      <setting name="PnlCustomTcpSettingsPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PnlSyslogFileSettingsTimestampFormat" serializeAs="String">
        <value>MMM d HH:mm:ss</value>
      </setting>
      <setting name="PnlSyslogUdpSettingsTimestampFormat" serializeAs="String">
        <value>MMM d HH:mm:ss</value>
      </setting>
      <setting name="ApplicationTheme" serializeAs="String">
        <value>Visual Studio Light</value>
      </setting>
      <setting name="PnlSyslogFileSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlSyslogUdpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlNLogUdpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlNLogTcpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlNLogFileSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlNLogDirectorySettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlLog4NetFileSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlLog4NetDirectorySettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlLog4NetUdpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlCustomFileSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlCustomDirectorySettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlCustomUdpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlCustomTcpSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="TimeShiftValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeShiftUnitIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PnlNLogDirSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="PnlCustomDirSettingsEncoding" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="UseInvertedColorForSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeElement_Identifier_ForegroundColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="CodeElement_Identifier_BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="CodeElement_Identifier_FontStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="FrmMainShowWelcomePage" serializeAs="String">
        <value>True</value>
      </setting>
    </Couchcoding.Logbert.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Couchcoding.Logbert.Properties.Settings>
      <setting name="ColumnizerRepository" serializeAs="String">
        <value>columnizer.xml</value>
      </setting>
      <setting name="Log4NetLevelTrace" serializeAs="String">
        <value>TRACE</value>
      </setting>
      <setting name="Log4NetLevelDebug" serializeAs="String">
        <value>DEBUG</value>
      </setting>
      <setting name="Log4NetLevelInfo" serializeAs="String">
        <value>INFO</value>
      </setting>
      <setting name="Log4NetLeveLWarning" serializeAs="String">
        <value>WARN</value>
      </setting>
      <setting name="Log4NetLevelError" serializeAs="String">
        <value>ERROR</value>
      </setting>
      <setting name="Log4NetLevelFatal" serializeAs="String">
        <value>FATAL</value>
      </setting>
    </Couchcoding.Logbert.Properties.Settings>
  </applicationSettings>
</configuration>
